<h1>Bowling APP</h1>

<%= render 'form' %> <br />

<% if @games %>
	<h2>Listing games</h2>

	<table>
	  <tr>
	    <th>Game ID</th>
		<th>Created at</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @games.each do |game| %>
	  <tr>
		<td><%= game.id %></td>
		<td><%= game.created_at.to_formatted_s(:db)  %></td>
		<% if game.finished? %>
	    <td><%= link_to 'Show', game %></td>
		<% else %>
	    	<td><%= link_to 'Continue', new_frame_path(game) %></td>
		<% end %>
	    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
	</table>
<% end %>